<div class="datatable">
    @if(!loading){
      <div class="container-fluid">
        <div class="px-4 mt-5">
              <div class="loading-skeleton">
                <form>
                  <div class="skeleton-container">
                    <div class="d-flex skeleton-view">
                      @for (skelton of [].constructor(4); track skelton) {
                      <div class="form-group" style="min-width:150px">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                      </div>
                      }
                    </div>
                    <div class="d-flex skeleton-view">
                      @for (skelton of [].constructor(4); track skelton) {
                      <div class="form-group" style="min-width:150px">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                      </div>
                      }
                    </div>
                    <div class="d-flex skeleton-view">
                      @for (skelton of [].constructor(4); track skelton) {
                      <div class="form-group" style="min-width:150px">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                      </div>
                      }
                    </div>
                    <div class="d-flex skeleton-view">
                      @for (skelton of [].constructor(4); track skelton) {
                      <div class="form-group" style="min-width:150px">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                      </div>
                      }
                    </div>
                    <div class="d-flex skeleton-view">
                      @for (skelton of [].constructor(4); track skelton) {
                      <div class="form-group" style="min-width:150px">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                      </div>
                      }
                    </div>
                    <div class="d-flex skeleton-view">
                      @for (skelton of [].constructor(4); track skelton) {
                      <div class="form-group" style="min-width:150px">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                      </div>
                      }
                    </div>
                    <div class="d-flex skeleton-view">
                      @for (skelton of [].constructor(4); track skelton) {
                      <div class="form-group" style="min-width:150px">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                      </div>
                      }
                    </div>
                    <div class="d-flex skeleton-view">
                      @for (skelton of [].constructor(4); track skelton) {
                      <div class="form-group" style="min-width:150px">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                      </div>
                      }
                    </div>
                    <div class="d-flex skeleton-view">
                      @for (skelton of [].constructor(4); track skelton) {
                      <div class="form-group" style="min-width:150px">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                      </div>
                      }
                    </div>
                    <div class="d-flex skeleton-view">
                      @for (skelton of [].constructor(4); track skelton) {
                      <div class="form-group" style="min-width:150px">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                      </div>
                      }
                    </div>
                  </div>
                </form>
            </div>
        </div>
      </div>
        
    }
    @if(loading){
      <div class="container-fluid">
        <div class="px-4 mt-5">
          <div class="table">
            <div class="table-scroll">
              <table mat-table [dataSource]="rows | paginate: { itemsPerPage: itemPerPage, currentPage: page }" class="mat-elevation-z8">
                <ng-container matColumnDef="Sr No.">
                  <th mat-header-cell *matHeaderCellDef class="sr-no-column"> Sr No. </th>
                  <td mat-cell *matCellDef="let element" class="sr-no-column"> {{element.ShopCode}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Resturant Name">
                  <th mat-header-cell *matHeaderCellDef class="restaurant-name-column"> Resturant Name </th>
                  <td mat-cell *matCellDef="let element" class="restaurant-name-column"> {{element.ShopName}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Location">
                  <th mat-header-cell *matHeaderCellDef class="location-column" > Location </th>
                  <td mat-cell *matCellDef="let element" class="location-column" > {{element.Add1}} </td>
                </ng-container>
              
                <ng-container matColumnDef="City">
                  <th mat-header-cell *matHeaderCellDef class="city-column"> City </th>
                  <td mat-cell *matCellDef="let element" class="city-column"> {{element.StateName}} </td>
                </ng-container>
        
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef class="status-column"> Status </th>
                  <td mat-cell *matCellDef="let element" class="status-column"> {{element.Status}} </td>
                </ng-container>
        
                <ng-container matColumnDef="Menu">
                  <th mat-header-cell *matHeaderCellDef class="menu-column"> Menu </th>
                  <td mat-cell *matCellDef="let element" class="menu-column">
                    <button (click)="getMenuList(element)"  type="button" class="view-btn" data-bs-toggle="modal" data-bs-target="#menu-modal">
                      View
                    </button>
                  </td>
                </ng-container>
        
                <ng-container matColumnDef="Sync">
                  <th mat-header-cell *matHeaderCellDef class="sync-column"> Sync </th>
                  <td mat-cell *matCellDef="let element" class="sync-column"> 
                    <button (click)="openConfirmationPopup(element,constant.confirmation,constant.syncDataMessage)" type="button" class="sync-btn" data-bs-toggle="modal" data-bs-target="#globalModel">
                      Sync
                    </button>
                  </td>
                </ng-container>
              
                <tr  mat-header-row *matHeaderRowDef="columns"></tr>
                <tr  mat-row *matRowDef="let row; columns: columns;"></tr>
              </table>
            </div>
            <div class="Footer">
              <div class="totalCount">
                <span class="footer-text"> Total Records : 4033</span>
                 
              </div>
              <div class="has-text-centered pagination">
                <pagination-controls (pageChange)="page = $event"  previousLabel=""
                nextLabel=""></pagination-controls>
              </div>
              <div class="DropDown">
                <span class="footer-text"> Show Records : </span>
                <select  [(ngModel)]="dropDownSelectedValue" (change)="onValueChange()">
                  <option value="15">15</option>
                  <option value="25">25</option>
                  <option value="35">35</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    <!-- @if(showMenuModel){ -->
      <div class=" modal fade" id="menu-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title" id="staticBackdropLabel">Resturent Menu</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancleMenuModel()"></button>
              </div>
              <div class="modal-body">
                  <div class="row row-gap-4 overflow-hidden">
                    @if(!lodinMenuModel){
                      <div class="loading-skeleton">
                          <form>
                            <div class="skeleton-container">
                              <div class="d-flex skeleton-view">
                                @for (skelton of [].constructor(4); track skelton) {
                                <div class="form-group" style="min-width:150px">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                </div>
                                }
                              </div>
                              <div class="d-flex skeleton-view">
                                @for (skelton of [].constructor(4); track skelton) {
                                <div class="form-group" style="min-width:150px">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                </div>
                                }
                              </div>
                              <div class="d-flex skeleton-view">
                                @for (skelton of [].constructor(4); track skelton) {
                                <div class="form-group" style="min-width:150px">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                </div>
                                }
                              </div>
                              <div class="d-flex skeleton-view">
                                @for (skelton of [].constructor(4); track skelton) {
                                <div class="form-group" style="min-width:150px">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                </div>
                                }
                              </div>
                              <div class="d-flex skeleton-view">
                                @for (skelton of [].constructor(4); track skelton) {
                                <div class="form-group" style="min-width:150px">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                </div>
                                }
                              </div>
                              <div class="d-flex skeleton-view">
                                @for (skelton of [].constructor(4); track skelton) {
                                <div class="form-group" style="min-width:150px">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                </div>
                                }
                              </div>
                              <div class="d-flex skeleton-view">
                                @for (skelton of [].constructor(4); track skelton) {
                                <div class="form-group" style="min-width:150px">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                </div>
                                }
                              </div>
                              <div class="d-flex skeleton-view">
                                @for (skelton of [].constructor(4); track skelton) {
                                <div class="form-group" style="min-width:150px">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                </div>
                                }
                              </div>
                              <div class="d-flex skeleton-view">
                                @for (skelton of [].constructor(4); track skelton) {
                                <div class="form-group" style="min-width:150px">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                  <input type="email" class="form-control" id="exampleFormControlInput1">
                                </div>
                                }
                              </div>
                            </div>
                          </form>
                      </div>
                    }
                    @else {
                      @for(singleMenu of listOfMenus; track singleMenu){
                        <div class="col-12 col-md-6 col-xxl-4" id="menu-card">
                            <div class="menu-item-card">
                                <img [src]="singleMenu?.ItemImage" alt="menu-item-img">
                                <div class="menu-item-detail">
                                    <p class="item-name">{{singleMenu?.Iname}}</p>
                                    <p class="item-category">{{singleMenu?.CategoryName}}</p>
                                    <p class="item-quantity">{{singleMenu?.OptionGroupName}}</p>
                                    <p class="item-price">${{singleMenu?.RateWithoutTax}}</p>
                                </div>
                            </div>
                        </div>
                      }
                    }
                  </div>
              </div>
              <div class="modal-footer">
              </div>
          </div>
      </div>
      </div>
    <!-- } -->
  </div>

  <app-loader [isLoading]="lodinSpinner"></app-loader>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
  <script src="./assets/js/main.js"></script>
  <div>
    <app-modle #appModle [title]="title" [context]="context" (clickToSure)="clickToSure()"></app-modle>
  </div>
  

