<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Username:</label>
        <input required  id="username" [(ngModel)]="userData.username" name="username" type="text"
        [ngClass]="(usernameError || errorMessage) && (userData.username == null || userData.username == '' ) ? 'errorsShow':''"
        />
        <div *ngIf="usernameError">Username is required.</div>
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input required id="password" [(ngModel)]="userData.password" name="password" type="password"
        [ngClass]="(passwordError || errorMessage) && (userData.password == null || userData.password == '' ) ? 'errorsShow':''"
        />
        <div *ngIf="passwordError">Password is required.</div>
      </div>
  
      <button type="submit">Login</button>
    </form>
  
    <div *ngIf="errorMessage && !usernameError && !passwordError" class="error">
      {{ errorMessage }}
    </div>
  </div>

  <div *ngIf="isLoading" class="loader-overlay">
    <div class="loader"></div>
  </div>