<!-- header.component.html -->
<header class="header">
    <div class="logo">A2B</div>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchQuery" placeholder="Search..." (keyup.enter)="onSearch($event)"
        class="search-input" />
      <button (click)="onSearch($event)" class="search-button">Search</button>
    </div>
  </header>
   
  <!-- Data Table -->
   
  <!-- popup for view menu and sync menu -->
  <div class="modal" [ngClass]="{ 'is-active': modalVisible }">
    <div class="modal-background" (click)="close()"></div>
    <div class="modal-content">
      <div class="box">
        <div *ngFor="let category of getMenuCategories(); trackBy: trackByCategory">
          <h2 style="color:blue;background-color:darkturquoise">{{ category.title }}</h2>
          <div *ngFor="let food of category.items; trackBy: trackByFood">
            <span style="display:flex; align-items: center;">
              <span *ngIf="food.syncD">
                <i style="font-size: 18px;color:green" class="bi bi-check-circle"></i>
              </span>
              <span *ngIf="!food.syncD">
                <i style="font-size: 18px;color: red;" class="bi bi-exclamation-circle"></i>
              </span>
              <h5>{{ food.name }}</h5>
            </span>
          </div>
        </div>
        <p><strong>Price: 200</strong></p>
        <button (click)="close()" class="button">Close</button>
      </div>
    </div>
  </div>