<div *ngIf="!passwordChanged" class="login-section">
    <div class="bg-section container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-12 col-md-3 lhs">
                <img src="../../../../assets/images/Logotheme.svg" alt="" class="logo">
            </div>
            <div class="col-sm- col-md-9 rhs">
                <div class="text-white">
                    <div class="heading">
                        <img src="../../../../assets/images/Logotheme.svg" alt="" class="logo box-logo mb-3">

                        <div>{{welcomeText.welcomeTo}}</div>
                        <div class="theme">{{welcomeText.theme}}</div>
                    </div>
                    <p>{{welcomeText.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="login-container">
        <form (ngSubmit)="onSubmit()">
            <div class="login-box">

                <div class="border-b">
                    <div class="heading">Change Password</div>
                    <!-- <span class="sub-head">Login into your account</span> -->
                </div>
                <div class="form w-100">
                    <!-- Old Password -->
                    <div class="w-100">
                        <label for="oldpassword">Old Password</label>
                        <input placeholder="Old Password" required id="oldpassword" [(ngModel)]="userData.oldPass"
                            name="oldpassword" [ngClass]="(oldPassError || errorMessage)  ? 'errorsShow':''"
                            type="password" class="form-control">
                        <div *ngIf="oldPassError">Password is required.</div>
                    </div>

                    <!-- New Password -->
                    <div class="w-100">
                        <label for="newpassword">New Password</label>
                        <input placeholder="New Password" required id="newpassword" [(ngModel)]="userData.newPass"
                            name="newpassword"
                            [ngClass]="(newPassError || errorMessage || newOldPassError)  ? 'errorsShow':''"
                            type="password" class="form-control">
                        <div *ngIf="newPassError">Password is required.</div>
                    </div>

                    <!-- Confirm Password -->
                    <div class="w-100">
                        <label for="confirmpassword">Confirm Password</label>
                        <input placeholder="Confirm Password" required id="confirmpassword"
                            [(ngModel)]="userData.confirmPass" name="confirmpassword"
                            [ngClass]="(confirmPassError || errorMessage || newOldPassError)  ? 'errorsShow':''"
                            type="password" class="form-control">
                        <div *ngIf="confirmPassError">Confirm Password is required.</div>
                    </div>
                </div>
                <div *ngIf="(errorMessage || newOldPassError) && !confirmPassError && !newPassError && !oldPassError"
                    class="error">
                    {{ errorMessage ? errorMessage : newOldPassError }}
                </div>
                <span style="display: flex;">
                    <button class="btn btn-theme">Change Password</button>
                </span>
            </div>
        </form>
    </div>
</div>

<div *ngIf="passwordChanged">
    <app-success-edit (normalState)="normalState()"></app-success-edit>
</div>
