<div class="status-menu">

  <div class="status-bar hold">
      <span>Pending : {{OrderDetails.pandingOrder}}</span>
  </div>
  <div class="status-bar cancel">
      <span>Canceled : {{OrderDetails.cancleOrder}}</span>
  </div>
  <div class="status-bar success">
      <span>Completed : {{OrderDetails.completeOrder}} / {{OrderDetails.totalOrder}}</span>
  </div>

  <!-- svg -->
  <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg"
      version="1.1">
      <defs>
          <filter id="round">
              <feGaussianBlur in="SourceGraphic" stdDeviation="4" result="blur" />
              <feColorMatrix in="blur" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                  result="goo" />
              <feComposite in="SourceGraphic" in2="goo" operator="atop" />
          </filter>
      </defs>
  </svg>
</div>
<div class="parentDiv">
  <div class="datatable">
    @if(rows && rows.length > 0 && loding){
      <div>
          <h3>Data</h3>
          <ngx-datatable
          class="material"
          [rows]="pagedRows"
          [loadingIndicator]="loadingIndicator"
          [columns]="columns"
          [columnMode]="ColumnMode.standard"
          [headerHeight]="40"
          [footerHeight]="30"
          rowHeight="auto"
          [reorderable]="reorderable"
          [scrollbarV]="true"
          [virtualization]="false"
          [externalPaging]="true"
          [count]="page.totalElements"
          [offset]="page.pageNumber"
          [limit]="page.size"
          (page)="setPagination($event)"
          >
          <ngx-datatable-column name="Order ID">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['Order ID'] }}
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="Date">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['Date'] }}
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="Customer Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['Customer Name'] }}
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="Description">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['Description'] }}
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="Aggregator">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['Aggregator'] }}
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="Location"  [cellClass]="'custom-background'">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['Location'] }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Amount">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['Amount'] }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status Order">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <div class="statusAndMenu">
                <div class="status {{row['Status Order']}}">
                  {{row['Status Order']}}
                </div>
                <div class="Button">
                  <button (click)="OpenDropDown(rowIndex)">...</button>
                </div>
              </div>
              @if(row.showDropDown){
                <div class="DropDown">
                  <button>Accept Order</button>
                  <button>Reject Order</button>
                </div>
              }
              
            </ng-template>
          </ngx-datatable-column>
          </ngx-datatable>
      </div>
  }
  <div style="margin-top:30px">
    <app-save-button [name]="'Navigate To the Sync Menu'"  [navigate]="'sync-menu'">Navigate To the Sync Menu</app-save-button>
  </div>
  </div>
  <div class="Calander">
    <div class="heading"><h2>Here is Calander data</h2></div>
    @for (date of datesArray; track date) {
      <div class="datediv">
        Day : {{date.Day}} , Date : {{date.Date}} , OrderCount : {{date.OrdersCount}}
      </div>
    }
  </div>

  
</div>


