// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$A2B_Front_End-primary: mat.define-palette(mat.$indigo-palette);
$A2B_Front_End-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$A2B_Front_End-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$A2B_Front_End-theme: mat.define-light-theme(
  (
    color: (
      primary: $A2B_Front_End-primary,
      accent: $A2B_Front_End-accent,
      warn: $A2B_Front_End-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($A2B_Front_End-theme);

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "./scss/variables";
@import "./scss/reset";
@import "./scss/module";

@import "./scss/variable";
@import "./scss/layout";
@import "./scss/component";
@import "./scss/nav";
@import "./scss/table";

.parentDiv {
  width: 100%;
}

.OrdersInformation {
  display: flex;
  gap: 10px;
}
.pending {
  border: 1px solid black;
  padding: 5px;
}

.statusAndMenu {
  display: flex;
  gap: 4px;
}

.Pending {
  background-color: #ffedeb;
  color: #f0897e;
}

.Confirmed {
  background-color: #dff2ff;
  color: #75bae9;
}

.Initiated {
  background-color: #fff6e7;
  color: #f5d29d;
}

.Prepared {
  background-color: #fff4fd;
  color: #f191db;
}
.Dispatched {
  background-color: #f8e9ff;
  color: #b987ce;
}

.Delivered {
  background-color: #ddffeb;
  color: #8fe8b5;
}

.Cancelled {
  background-color: #ecf0f1;
  color: #8d8e8f;
}

.status {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  @include display-fag(flex, center);
}

.header {
  background-color: var(--primary-theme);
  min-height: 70px;
  padding: 0.6rem 2.5rem 0.6rem 7rem;
  @include display(flex, center, space-between);
  color: $white;
  position: relative;

  .brand {
    @include display-fag(flex, center);
    @include font(1.5rem);
  }

  .navigation {
    @include display-fag(flex, center);
    @include font(0.9rem);
  }

  .user-block {
    @include display-fag(flex, center, 0.6rem);

    .user-img {
      max-width: 40px;
    }

    .status {
      opacity: 0.5;
    }
  }

  .sidecar-btn {
    position: absolute;
    top: 100%;
    transform: translatey(-50%);
    background-color: $theme;
    border: 3px solid $white;
    left: 2rem;
    border-radius: 15rem;

    min : {
      height: 3.4rem;
      width: 3.4rem;
    }

    font-size: 1.5rem;
    @include display(flex, center, center);
    cursor: pointer;
    z-index: 1;
  }
}

.status-menu {
  @include display-fag(flex, center);
  margin-top: -2px;
  padding-left: 7rem;

  .status-bar {
    min-width: 12rem;
    min-height: 2.5rem;
    text-align: center;
    color: white;
    filter: url(#round);

    &:before {
      content: "";
      display: block;
      min-height: 2.5rem;
      clip-path: polygon(0 0, 100% 0, 87% 100%, 14% 100%);
    }

    span {
      top: -2.2rem;
      padding: 0.4rem 2.5rem 0.6rem 2.5rem;
      position: relative;
    }

    &.hold {
      &:before {
        background-image: linear-gradient(
          180deg,
          #f9f2a0 -45.39%,
          #e1a747 100%
        );
      }
    }

    &.cancel {
      &:before {
        background-image: linear-gradient(
          180deg,
          #f9b2a0 -75.42%,
          #e14747 100%
        );
      }
    }

    &.success {
      &:before {
        background-image: linear-gradient(
          180deg,
          #c8fff4 -42.57%,
          #1abc9c 88.55%
        );
      }
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .custom-background{
//     background-color: #ecf4ff;
// }

.Calander {
  border: 1px solid #e9f2ff;
  border-radius: 12px;
  padding: 20px 0 2px;
  height: fit-content;

  .heading h2 {
    font-size: 24px;
    padding: 5px 20px 20px;
  }
  .datediv {
    // width: 100%;
    padding: 14px 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:nth-of-type(even) {
      background-color: #f8fbff;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  background-color: #0b5ed7;
}
::-webkit-scrollbar-track {
  width: 10px;
  height: 10px;
  background-color: #dbe6f5;
}

.pagination{
    display: flex;
    font-size: 16px;
    height: 71px;
    padding-top:10px;
}

// --Loder-- 
.no-scroll {
    overflow: hidden;
  }

  .Footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .totalCount{
    padding-left: 21px;
    padding-top: 17px;
  }
  .DropDown{
    padding: 16px 20px;
  }
 
  td {
    border-bottom: 0px !important;
}